extends template 

block content
    h1 #{product.pName}
    div#preview
        div#img-head
            img#img-preview(src=product.imageURL)
        div#therest
            h2 Item Info
            p Name: #{product.pName}
            p Description: #{product.description}
            p Price: $#{product.price}
            a(href="/admin/delete/"+product.productId)
                                    button.deleteBtn delete
        div#change 
            h2 Please fill out entire form
            form#update-form(action="/admin/update/"+product.productId method="POST" enctype="multipart/form-data" )
                input(type="text" name="pName" placeholder="Product Name" value=product.pName) 
                input(type="text" name="description" placeholder="Description" value=product.description)
                input(type="number" name="price" placeholder="Price" value=product.price) 
                input(type="file" name="imageURL" placeholder="New Image")
                button#updateBtn(type="submit") Save Changes
        
        

